* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.Flexstyle {
  display: flex;
  text-align: center;
  gap: 20px;
  margin-top: 20px;
  font-size: large;
  font-weight: 700;
  max-width: 45%;
}

.Flexstyle > div {
  width: 250px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: gray;
}
